<h2>Available drones</h2>
<div id="list-container">
  {{#each response}}

    <div class="card list-card">
        <div class="card-header">
            Name: {{this.name}}
    
  </div>

      <div id="card-body" class="centrar-texto">

        <h5 class="card-text">Propellers: {{this.propellers}}</h5>

        <p class="card-text">Speed: {{this.maxSpeed}}</p>

       <div class="buttons-class"> <button id="button-edit" class="btn btn-secondary"><a id="text-color"
            
            href="/drones/{{this._id}}/edit"
          >Edit</a>
        </button>

        <form action="/drones/{{this._id}}/delete" method="POST">
          <button id="button-edit" class="btn btn-primary">Delete</button></div>

        </form>

      </div>
    </div>

  {{/each}}
</div>